extends ./layout

block content 
  section#one
    .inner
      h1 Gift Registry
      center
        a(href='https://secure.williams-sonoma.com/registry/l62lhknqfc/registry-list.html', target="_blank")
          img.registry(class='image', src='http://ab.wsimgs.com/wsimgs/ab/images/dp/wcm/201652/0029/img2.jpg')
        a(href='http://www.crateandbarrel.com/gift-registry/lauren-bearden-and-daniel-kearney/r5645961', target='_blank')
          img.registry(class='image', src='http://www.fairfaxchoralsociety.org/wp-content/uploads/2014/10/cb-logo.png')
        a(href='https://www.zola.com/registry/dankandlaurenb', target='_blank') 
          img.registry.image(src='/images/zola.jpg')