doctype html(lang='en')
head
    meta(charset='utf-8')
    title WeddingSite
    meta(name='description', content="Wedding site for Lauren Bearden and Dan Kearney's wedding in Cazenovia, NY on August 12, 2017")
    meta(name='author', content='Daniel Kearney')
  body
    h1 Dan and Lauren's wedding site!