doctype html(lang='en')
head
  meta(charset='utf-8')
  title WeddingSite
  meta(name='description', content="Wedding site for Lauren Bearden and Dan Kearney's wedding in Cazenovia, NY on August 12, 2017")
  meta(name='author', content='Daniel Kearney')
  link(href='/css/introspect.css', rel='stylesheet')
  link(href='/css/main.css', rel='stylesheet')
  // Scripts
  script(src='/js/jquery.min.js')
  | &#x9;&#x9;&#x9;
  script(src='/js/skel.min.js')
  | &#x9;&#x9;&#x9;
  script(src='/js/util.js')
  | &#x9;&#x9;&#x9;
  script(src='/js/main.js')
body
  // Header
  header#header
    .inner
      a.logo(href='/') Dan and Lauren
      nav#nav
        a(href='index.html') Our Story
        a(href='elements.html') The Wedding Party 
        a(href='elements.html') Wedding Details
        a(href='elements.html') Gift Registry
        a(href='elements.html') Things to Do
  a.navPanelToggle(href='#menu')
    span.fa.fa-bars


  block content

  // footer
  section#footer
    .inner
      .copyright
        | &copy; Untitled Design: 
        a(href='https://templated.co/') TEMPLATED
        | . /images 
