doctype html(lang='en')
head
    meta(charset='utf-8')
    title WeddingSite
    meta(name='description', content="Wedding site for Lauren Bearden and Dan Kearney's wedding in Cazenovia, NY on August 12, 2017")
    meta(name='author', content='Daniel Kearney')
    link(href='/main.css', rel='stylesheet')
  body
    h1 Dan and Lauren's wedding site!
    p We're getting married on August 12, 2017 at the Brewster Inn in Cazenovia, New York!
    p Please RSVP at 
      a(href='mailto:rsvp@danandlauren.wedding?Subject=RSVP', target='_top') rsvp@danandlauren.wedding