doctype html(lang='en')
head
  meta(charset='utf-8')
  title Dan and Lauren's Wedding Site
  meta(name='description', content="Wedding site for Lauren Bearden and Dan Kearney's wedding in Cazenovia, NY on August 12, 2017")
  meta(name='author', content='Daniel Kearney')
  link(href='/css/introspect.css', rel='stylesheet')
  link(href='/css/main.css', rel='stylesheet')
  // Scripts
  script(src='/js/jquery.min.js')
  | &#x9;&#x9;&#x9;
  script(src='/js/skel.min.js')
  | &#x9;&#x9;&#x9;
  script(src='/js/util.js')
  | &#x9;&#x9;&#x9;
  script(src='/js/main.js')
body
  // Header
  header#header
    .inner
      a.logo(href='/') Dan and Lauren's Wedding
      nav#nav
        a(href='/the-wedding-party') The Wedding Party 
        a(href='/wedding-details') Wedding Details
        a(href='/gift-registry') Gift Registry
        a(href='/things-to-do') Things to Do
  a.navPanelToggle(href='#menu')
    span.fa.fa-bars


  block content

  // footer
  br
  section#footer
    .inner
      .copyright
        | &copy; Untitled Design: 
        a(href='https://templated.co/') TEMPLATED
        | . /images 
