extends ./layout

block content 
  section#one
    .inner
      h1 Local attractions in Cazenovia

      h3 
        a(href='https://parks.ny.gov/parks/130/') Chittenango Falls 
      img.large-image(class='image', src='/images/falls.jpg')
      p A great little state park with gorgeous falls, right off the highway! A must-see even if you just walk five minutes from your car.

      h3 
        a(href='http://www.critzbrewandcider.com/') Critz Farms 
      img.large-image(class='image', src='/images/critz.jpg')
      p We used to go here a lot in college! A scenic cidery with a great farmhouse tasting room with really great, fresh hard cider. We considered having the wedding here! They've also started brewing beer.

      h3 
        a(href="http://empirebrew.com/") Empire Farmstead Brewery
      p A new brewery that's really popular right now. 

      h3 
        a(href="http://oweravineyards.com/") Owera Vineyards
      p A touch of class in a rural area on the north end of Cazenovia lake. Food and award-winning wines!

      h3 
        a(href='http://sqhap.org/') Stone Quarry Hill Art Park
      p A giant art museum! 104 acres of land, four miles of walking trails, and an impressive collection of indoor and outdoor art.
      br

      h1 Central New York attractions 
      p These attractions are around 1-2 hours from Cazenovia.      
      h3 
        a(href='http://www.thisiscooperstown.com/') Cooperstown
      img.large-image(class='image', src='/images/halloffame.jpg')
      p Home of the baseball Hall of Fame, you can watch an old-timey baseball game played without mitts, or just walk through the classic hall of fame museum. Also, check out Ommegang Brewery, a fantastic brewery nearby.

      h3 
        a(href='https://www.saranac.com/') Saranac Brewery
      p A large brewery that still has a lot of the original 1800s decor. Great tour and tasting room. I wouldn't advise spending too much time in Utica.

      h3 
        a(href='http://colgate.edu/') Colgate University
      img.large-image(class='image', src='/images/colgate.jpg')
      p Lauren's alma mater. Make sure to get pizza at Slices (voted some of the best in NY!). Bring your fakes.

      h3 
        a(href='http://www.fingerlakes.org/') The Finger Lakes	
      img.large-image(class='image', src='/images/finger.jpg')
      p There's a lot to do in the Finger Lakes region, hiking, wine, and so on. Google it yourself! What am I, your private Yelp? 

      h3 
        a(href='https://parks.ny.gov/parks/142/') Watkins Glen State Park
      img.large-image(class='image', src='/images/watkins.jpg')
      p The most famous park in the Finger Lakes.

      h3 
        a(href='https://eastman.org/') George Eastman House and the International Museum of Photography and Film
      p For the photography / film buffs out there.