extends ./layout

block content 
  section#one
    .inner
      h1 Local attractions in Cazenovia

      h2 Chittenango Falls 
      img.large-image(class='image', src='/images/falls.jpg')
      p A great little state park with gorgeous falls, right off the highway! A must-see even if you just walk five minutes from your car.

      h2  Critz Farms and Harvest Moon Cidery
      img.large-image(class='image', src='/images/critz.jpg')
      p We used to go here a lot in college! A scenic cidery with a great farmhouse tasting room with really great, fresh hard cider. We considered having the wedding here!

      h2 Empire Farmstead Brewery
      p A new brewery that's really popular right now.

      h1 Central New York attractions 
      p These attractions are around 1-2 hours from Cazenovia.      
      h2 Cooperstown
      img.large-image(class='image', src='/images/halloffame.jpg')
      p Home of the baseball Hall of Fame, you can watch an old-timey baseball game played without mitts, or just walk through the classic hall of fame museum. Also, check out Ommegang Brewery, a fantastic brewery nearby.

      h2 Saranac Brewery
      p A large brewery that still has a lot of the original 1800s decor. Great tour and tasting room. I wouldn't advise spending too much time in Utica.

      h2 The Finger Lakes
      img.large-image(class='image', src='/images/finger.jpg')
      p There's a lot to do in the Finger Lakes region, hiking, wine, and so on. Google it yourself! What am I, your private Yelp? 

      h2 Watkins Glen State Park
      h2 George Eastman House and the International Museum of Photography and Film