extends ./layout

block content 
  // Banner
  section#banner
    .inner
      center
        h1.huge August 12, 2017
        h1 Cazenovia, NY
  section#one
    .inner
      h1 Links
      a(href='/the-wedding-party') The Wedding Party 
      span &nbsp; &nbsp;
      a(href='/wedding-details') Wedding Details 
      span &nbsp; &nbsp;
      a(href='/gift-registry') Gift Registry 
      span &nbsp; &nbsp;
      a(href='/local-attractions') Local Attractions
      br
      br

      h1 Our Story
      
      h2 2006
      p We met in 2006 at the Saint Joe's field day on the volleyball court. A friend's mom had to chaperone on a day where Villa didn't have school, so Lauren went along. After that, we started talking and hanging out. Our first date was a double date to movies and pizza with Meg Carr and Ryan Amspacher. 

      h2 2007
      img.large-image(class='image', src='images/2007.jpg')
      p After Dan came back from a long trip to Ireland, we decided to start dating. Dan asked Lauren to be his girlfriend the day after her Sweet 16 birthday party. Other than that, we ran our way through 2007. Dan joined the cross country team, and both of us ran three seasons: cross country, winter track, and spring track. We went to our schools' semi formals together and really got to know each others' friends. 

      h2 2008
      img.large-image(class='image', src='images/2008.jpg')
      p By 2008, our separate friends had merged into one big group of friends. We went to more dances, got to know the joy of SATs and standardized testing, and we focused on our respective sports. 

      h2 2009
      img.large-image(class='image', src='images/2009.jpg')
      p 2009 was the year of learning to drive. Finally we could see each other without getting shuttled around by parents! We hung out with friends a lot and took advantage of the fact that now we had the freedom to  drive ourselves to school and work. That summer, Dan worked at Rutgers doing Physics research and Lauren scooped ice cream at McCool's in Madison.

      h2 2010
      img.large-image(class='image', src='images/2010.jpg')
      p We went to Delbarton and Villa proms in 2010, and we had a great time going down the shore with friends toward the end of the year. After high school graduation, Lauren was off to Colgate University in Hamilton, NY and Dan was off to Olin College in Needham, MA.

      h2 2011
      img.large-image(class='image', src='images/2011.jpg')
      p 2011 was a year of adjusting to being away from home and being at college . We didn't see much of each other freshman year of college, but by the end of the year, we decided that wasn't going to work. Dan spent the summer working at Soft Artisans in Boston and Lauren spent it doing research at Vassar College.

      h2 2012
      img.large-image(class='image', src='images/2012.jpg')
      p 2012 was the first year that we both had cars in college, so we visited each other a whole lot. Lauren became well-known around Olin (at a school with 300 students, it's fun to have some new faces) and Dan got to know Lauren's friends at Colgate. Lauren decided to major in Physics and Astronomy and Dan decided to major in Electrical and Computer Engineering. Dan spent the summer working at Microsoft in Seattle, and Lauren worked at a Laboratory for Atmospheric and Space Physics in Boulder, Colorado. Our first time living outside of the Northeast!

      h2 2013
      img.large-image(class='image', src='images/2013.jpg')
      p Lauren spent the first half of 2016 studying abroad in Australia, which made Dan really lonely! Dan spent the summer working at Facebook in New York City, and Lauren had an internship at Colgate. Then, we both went back to school to start out senior years!

      h2 2014
      img.collage-image(class='image', src='images/2014.jpg')
      p 2014 was a big year for us! We both graduated from college, Dan from Olin, Lauren from Colgate. We spent the summer travelling Europe with some friends, seeing the Czech Republic, Croatia, Italy (we even got to see Pope Francis close up!) and seeing family in France. We moved to Seattle and started our careers at Microsoft and Tableau.

      h2 2015
      img.collage-image(class='image', src='images/2015.jpg')
      p 2015 was our first full year living in Seattle. We fully embraced it... going to the tulip festival north of Seattle, through-hiking the Enchantments, and drinking lots of non-Dunkin Donuts coffee. We got to know the city, became Seahawks fans, and made lots of friends.

      h2 2016
      img.collage-image(class='image', src='images/2016.jpg')
      p In 2016, Lauren spent two months in Singapore for work. We spent three weeks travelling around Vietnam, Cambodia, Malaysia, and Singapore together! We spent the summer hiking and travelling. Oh, and we got engaged, too, with just seconds left on the calendar, on New Year's Eve in Jackson Hole!
      
      h2 2017
      p In 2017, we're getting married!