extends ./layout

block content 
  // Banner
  section#banner
    .inner
      center
        h1.huge August 12, 2017
        h1 Cazenovia, NY
  section#one
    .inner
      h2 Our Story
      p Lauren and Dan met on Tinder and had their first date at a bowling alley in Lexington Kentucky.