extends ./layout

block content 
  // Banner
  section#banner
    .inner
      center
        h1.huge August 12, 2017
        h1 Cazenovia, NY
  section#one
    .inner
      h2 Our Story
      p Lauren and Dan met on Tinder and had their first date at a bowling alley in Lexington Kentucky.
      h2 Quick Links
      ul
        li
          a(href="/the-wedding-party") The Wedding Party
        li
          a(href="/wedding-details") Wedding Details
        li
          a(href="/gift-registry") Gift Registry
        li
          a(href="/things-to-do") Things to Do