extends ./layout

block content 
  // Banner
  section#banner
    .inner
      center
        h1 August 12, 2017
        h1 
          em Cazenovia, NY
  section#one
    .inner
      header
        h2 RSVP
      p
        RSVP at rsvp@danandlauren.wedding