extends ./layout

block content 
  // Banner
  section#banner
    .inner
      center
        h1.huge August 12, 2017
        h1.lowercase-header Cazenovia, New York
        h1.lowercase-header #LaurenSaysIDan
  section#one
    .inner
      h1 Links
      a(href='/the-wedding-party') The Wedding Party 
      span &nbsp; &nbsp;
      a(href='/wedding-details') Wedding Details 
      span &nbsp; &nbsp;
      a(href='/gift-registry') Gift Registry 
      span &nbsp; &nbsp;
      a(href='/local-attractions') Local Attractions
      div(style='margin: -2em 0em 0em -3em')
        include ./wedding-details