extends ./layout

block content 
  section#one
    .inner
      h1 The Wedding Party
      br
      .row
        .left
          h2 The Bridesmaids
          br
          h3 Caroline Bearden
          h4 Maid of Honor
          img.party-image(src='/images/caroline.jpg')
          p Caroline is Lauren's little sister!
        .right
          h2 The Groomsmen
          br
          h3 Thomas Kearney
          h4 Best Man
          img.party-image(src='/images/thomas.jpg')
          p Thomas is Dan's older brother! 
          
      h3 The Ring Bearer
      h3 The Junior Bridesmaids