extends ./layout

block content 
  section#one
    .inner  
      h1 The Wedding Party
      br
      .row
        .left
          h2 The Bridesmaids
          br
          h3 Caroline Bearden
          em
            h4 Maid of Honor
          img.party-image(src='/images/caroline.jpg')
          p Caroline is my younger sister, and we have really been through it all. Despite us being four and a half years apart, we have always shared a really close connection and understanding of each other. Caroline is a junior at the University of Connecticut.
        .right
          h2 The Groomsmen
          br
          h3 Thomas Kearney
          em
            h4 Best Man
          img.party-image(src='/images/thomas.jpg')
          p Thomas is my older brother. We're less than two years apart and for most of our lives people thought we were twins. Tom and his fiancee Emily are amazing friends and they really make our coast-to-coast friendship work! Tom and Emily were there when we got engaged in Jackson Hole! Tom lives in New York City.

      .row
        .left
          h3 Megan Musacchio
          img.party-image(src='/images/megan.jpg')
          p Megan has been my best friend since high school when we met on the freshman basketball team, which is where both of our basketball careers ended. We soon became inseparable in everything from joining random sports teams to taking trips down the shore. Megan now lives in San Francisco, which is great because we see each other way more often!
        .right
          h3 Ryan Parker
          img.party-image(src='/images/ryan.jpg')
          p I met Ryan in kindergarten in Mendham, and even though we only went to school together for that one year, we really grew up together. Ryan's like a brother to me. Ryan lives in Washington, D.C.

      .row
        .left
          h3 Mika Fooksa
          img.party-image(src='/images/MIKA2.jpg')
          p I met Mika at Colgate when we got put in the same freshman dorm, and we quickly bonded over the fact that Mika is from the same small town where Dan went to college. We were roommates every year of college after that! Mika now lives in Nashville and we regularly use our distance as an excuse for vacations to see each other.
        .right
          h3 Noam Rubin
          img.party-image(src='/images/noam.jpg')
          p Noam and I were pretty much inseparable in college. We were roommates five different times, but it was totally normal and not weird. One time we sent a camera to space. Noam lives in San Francisco.

      .row
        .left
          h3 Maddy Brown
          img.party-image(src='/images/maddy.JPG')
          p Maddy and I were unbelievably lucky to be randomly put together as freshman year roommates at Colgate. We stayed close all throughout college and after. Maddy has been busy with Teach for America the past few years, but has still found time too make regular visits all the way from Mississippi! 
        .right
          h3 Theo Thompson
          img.party-image(src='/images/theo - 2.jpg')
          p Theo went to college with me and we've been roommates for the last three years in Seattle. Theo really likes fishing and doing weird things at parties by himself for attention. He (and our other roommate, Arjun) have been our rock in Seattle and we're lucky to have them around! 

      .row
        .left
          h3 Emily Clarke
          img.party-image(src='/images/emily.JPG')
          p I met Emily through Thomas, since she's his soon-to-be wife! As soon as we met, we instantly hit it off. Since Emily's recently been through wedding planning, she has been so helpful with helping us make decisions and guiding us about what we should be doing. I'm so lucky to have met her and am so excited to be family soon!
        .right
          h3 Mike Condon
          img.party-image(src='/images/mike.jpg')
          p Mike is Caroline's boyfriend and we've gotten to know each other pretty well over the years. It's always great coming home and hanging out with him and Caroline, making terrible football bets and just being Jersey boys. Mike plays the bagpipes and is a giant.  Mike lives in West Caldwell, New Jersey.

      .row
        .left
          h3 Natalia Sabater-Bono
          img.party-image(src='/images/natalia.jpg')
          p Natalia is Dan's cousin who lives in Paris, France! Natalia and her family were nice enough to host us when we went on our Eurotrip after college, and we had an amazing time. We're so thankful that Natalia and her family are making the trip to the United States again for our wedding!
        .right
          h3 Cory Dolphin
          img.party-image(src='/images/cory.jpg')
          p Cory was one of my best friends in college and we took almost every single class together. Cory is always down to get into trouble and hanging out with him is always fun. Cory lives in San Francisco.

      .row
        .left
          h3 Alyssa Sokol
          img.party-image(src='/images/alyssa.jpg')
          p Alyssa and I spent an unbelievable amount of time together in college because we were both in Tri Delta and had the same major, Physics and Astronomy. We would bond nightly over whatever that night's activity was: problem sets, Tri Delt chapter, Indian food, or just hanging out. Alyssa is now a PhD student at UMass Amherst.
        .right
          h3 Ryan Amspacher
          img.party-image(src='/images/ryana.jpg')
          p Ryan and I became friends as linemen on the freshman football team at Delbarton. Unsurprisingly my career as a lineman was a bit shorter than Ryan's. Ryan was the glue in our friend group in high school, and he organized mine and Lauren's first date! Ryan lives in Morris Plains, New Jersey.

      .row
        .left
          h3 Keshia Rose
          img.party-image(src='/images/keshia.JPG')
          p Keshia was one of my first friends in Seattle since we shared the bond of being East Coast transplants in Seattle. Since then, we've adventured all over the Pacific Northwest together, searched far and wide for the best Seattle nightlife, and spent many Tableau Conferences together teaching the Tableau Jedis! We even met an Olympic silver medalist in Portland!
        .right
          h3 Tyler Otto
          img.party-image(src='/images/tyler.jpg')
          p Tyler and I have known each other since fourth grade and we also played football together freshman year of high school. Tyler was one of my first really close friends and we have an insane number of inside jokes and generally act like schoolgirls when we're together. Tyler is in medical school in Bradenton, Florida.

      .row
        .left
          h3 Anika Martynowych
          img.party-image(src='/images/anika.jpg')
          p Anika is my Seattle adventure buddy! We met at Tableau and as a Seattle local, she has taken us to national parks, on 60 mile bike rides, and to countless wineries and breweries. Whenever Anika has an idea for something we can do, you know it's going to be an amazing time.
        .right
          h3 Burke Kearney
          img.party-image(src='/images/burke.jpg')
          p Burke is my cousin and he, his sister Katie, Tom, and I have always been close even though we've lived across state lines and we're a few years apart. We've traveled to Ireland, Poland, and Germany together! Burke lives in Chambersburg, Pennsylvania.

      h2 The Junior Bridesmaid and Ring Bearer
      .row
        div(style='width: 100%')
          center
            img.party-image(src='/images/horans.jpg', style='float: none')
            br
        .left(style='text-align: right')
          h3 Kallie Horan
          h4
            em Junior Bridesmaid
          p Kallie is my cousin, and I am so excited to have her in my wedding party! Kallie is an awesome drummer and singer and regularly performs around her house in Connecticut. She also loves to ski, snowboard, and play basketball and tennis!
        .right
          h3 Jack Horan
          h4
            em The Ring Bearer
          p Jack is my cousin and is Kallie's brother. He loves to act, and recently got signed with an agent! He loves to ski, and plays tennis and baseball. Jack is so excited to be our ring bear, and is actually considering dressing up like a bear for the event!