extends ./layout

block content 
  section#one
    .inner
      h1 The Wedding Party
      .left
        h2 The Bridesmaids
        p The maid of honor is Caroline Bearden
      .right
        h2 The Groomsmen
        p The best man is Thomas Kearney
      h3 The Ring Bearer
      h3 The Junior Bridesmaids