extends ./layout

block content 
  section#one
    .inner
      h1 Wedding Details
      h2 The Wedding
      h3 Ceremony
      p The wedding ceremony will take place at 10:30AM at St. Mary's Catholic Church in Hamilton, New York, about a 25 minute drive from Cazenovia. We will carpool from the Brewster Inn to the ceremony and back for the reception.
      h3 Reception
      img.large-image(class='image', src='http://media.syracuse.com/entertainment/photo/082001-brewster-3-dljpg-d51577387a536f59.jpg')
      p The wedding reception will be held at the Brewster Inn in Cazenovia, New York, on August 12, 2017. The reception will officially take place from 1-5PM. 
      h2 Accomodations
      p Cazenovia has a number of hotels which can accommodate the wedding guests at a convenient walking distance from the Brewster Inn. The Brewster Inn itself has a small block of rooms reserved for family and friends. The Brae Loch Inn and the Lincklaen House Bed and Breakfast are also quaint small hotels in the immediate vicinity. The Hampton Inn and Suites Cazenovia is about a mile away, 25 minutes walking. 
      p Syracuse, about half an hour's drive away, also has a wide range of hotels.
      h2 Getting There
      p Cazenovia is in central New York, so for most of our guests it'll mean a small road trip. It's approximately five hours by car from Boston, two from Scranton, and four from northern New Jersey, the Westchester area, and Philadelphia.
      p The nearest airport to Cazenovia is Syracuse Hancock International Airport (SYR) which is about half an hour away by car. Newark (EWR) and Philadelphia (PHL) are the closest major airports, at about four hours away each. Buffalo, Scranton, Albany, Ithaca, and others in the region may offer some flights within a few hours' drive. We recommend that our guests who are flying book their flights well in advance.
      h2 Attire
      p The attire is black tie optional.