extends ./layout

block content 
  section#one
    .inner
      h1 Wedding Details
      h3 Ceremony
      p The wedding ceremony will take place at 10:00AM at St. Mary's Catholic Church in Hamilton, New York, about a 20 minute drive from Cazenovia. We will carpool from Cazenovia to the ceremony and back for the reception.
      h3 Reception
      img.large-image(class='image', src='http://media.syracuse.com/entertainment/photo/082001-brewster-3-dljpg-d51577387a536f59.jpg')
      p The wedding reception will be held at the 
        a(href='http://www.thebrewsterinn.com/', target='_blank') Brewster Inn 
        span in Cazenovia, New York, on August 12, 2017. The reception will officially take place from 1-5PM, with a cocktail hour from noon to 1PM.
      h2 Accomodations
      p Cazenovia has a good selection of 
        a(href='https://www.airbnb.com/s/Cazenovia--NY--United-States/homes?checkin=2017-08-11&checkout=2017-08-13&allow_override%5B%5D=&s_tag=8ErJLabb') AirBnb's 
        span which could be a great choice for many of our guests, particularly those staying in groups of four or more.
      p We have reserved a block of rooms in 
        a(href='http://hamptoninn3.hilton.com/en/hotels/new-york/hampton-inn-and-suites-cazenovia-SYRCZHX/index.html', target='_blank') The Hampton Inn and Suites Cazenovia, 
        span which is about a mile away from the Brewster Inn, about 25 minutes walking. For most of our guests, the Hampton Inn will be the simplest option, though availability is limited.
      .row
        .left
          img.hotel-image.image(src='/images/brae-loch.jpg')
          center The Brae Loch Inn
        .right
          img.hotel-image.image(src='/images/lincklaenhouse.jpg')
          center The Lincklaen House
      p 
        a(href='http://www.braelochinn.com/', target='_blank') The Brae Loch Inn 
        span and the 
        a(href='http://www.lincklaenhouse.com/') Lincklaen House 
        span are also fantastic boutique hotels which are very close to the Brewster Inn, about five and ten minutes walking.
      p Fayetteville, Manlius, and other towns nearby also have a wide range of hotels.
      h2 Getting There
      p Cazenovia is in central New York, so for most of our guests it'll mean a small road trip. It's approximately five hours by car from Boston, two from Scranton, and four from northern New Jersey, the Westchester area, and Philadelphia.
      p The nearest airport to Cazenovia is Syracuse Hancock International Airport (SYR) which is about half an hour away by car. Newark (EWR) and Philadelphia (PHL) are the closest major airports, at about four hours away each. Buffalo, Scranton, Albany, Ithaca, and others in the region may offer some flights within a few hours' drive. We recommend that our guests who are flying book their flights well in advance.
      h2 Attire
      p The attire is black tie optional.