.huge {
	font-size: 3em !important;
}

.large-image {
	width: 50%;
    max-width: 500px;
    margin: 1em auto 1em auto;
    display: block;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #aaa;
}