.huge {
	font-size: 3em !important;
}

.image {
    margin: 1em auto 1em auto;
    display: block;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #aaa;
}

.large-image {
	width: 50%;
    max-width: 300px;
}

.collage-image {
	width: 75%;
	max-width: 600px;
}

.left {
	float: left;
	width: 49%;
}

.right {
	float: right;
	width: 49%;
}

.party-image {
    height: 150px;
    border-radius: 75px;
    float: left;
    margin: 10px;
}

.hotel-image {
	width: 80%;
	max-width: 300px;
}

.row {
	margin-bottom: 3em;
}

.registry {
	width: 30%;
	display: inline;
	margin: 1em;
	max-width: 200px;
}

.lowercase-header {
	text-transform: none !important;
}